/* custom nelson */

.fixed-top {height: 80px !important;
}

.logo_osd { width:133px!important; height:70 px!important; margin-top:2px;  }
@media (min-width: 240px) and (max-width: 1023px) {  .logo_osd {height:70px!important; width:133px!important; margin-top:-10px;  }}